version: '3.9'
services:
  web:
    build: .
    command: bash -c 'pnpm install && pnpm run dev --host'
    ports:
      - '5173:5173'
    working_dir: '/bigshinychewns'
    expose:
      - '5173'
    volumes:
      - '.:/bigshinychewns'
      - node_modules:/bigshinychewns/node_modules
      - pnpm-store:/bigshinychewns/.pnpm-store
    environment:
      - VITE_ENVIRONMENT=development
volumes:
  node_modules:
  pnpm-store:
